<div class="row">
	<div class="col-4">
		{{name}}
	</div>

<div class="col-2">

</div>

	<button class="change-eaten btn btn-info col-3" data-id="{{id}}" data-neweaten="{{eaten}}">
		{{#if eaten}}Throw it up I guess?{{else}}EAT IT{{/if}}
	</button>

	<button class="delete-burger btn btn-warning col-3" data-id="{{this.id}}">DELETE!</button>
</div>