<li>
	{{name}}

	<button class="change-eaten btn btn-info ml-auto" data-id="{{id}}" data-neweaten="{{eaten}}">
		{{#if eaten}}Throw it up I guess?{{else}}EAT IT{{/if}}
	</button>

	<button class="delete-burger btn btn-warning mr-auto" data-id="{{this.id}}">DELETE!</button>
</li>
