<div class="row py-1 my-2 bg-dark">
	<div class="col-4 font-weight-bold" id="list-burger">
		{{name}}
	</div>

<div class="col-2">

</div>
<div class=" col-3">
	<button class="change-eaten btn btn-info" data-id="{{id}}" data-neweaten="{{eaten}}">
		{{#if eaten}}Throw it up I guess?{{else}}EAT IT{{/if}}
	</button>
</div>

<div class=" col-3">
	<button class="delete-burger btn btn-warning" data-id="{{this.id}}">Throw it in the abyss</button>
</div>
</div>